<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout.description %>
  </p>

  <p>
    <strong>Dificulty:</strong>
    <%= workout.dificulty %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= workout.reps %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= workout.sets %>
  </p>

  <p>
    <strong>Focus:</strong>
    <%= workout.focus %>
  </p>

</div>
